In [1]:
# Import
import requests
import pandas as pd
import numpy as np
import sys
import os.path

In [2]:
df = pd.read_csv("../data/report.txt", sep='\t')
df.drop_duplicates(inplace=True)
df.dropna(subset=["state", "status"], inplace=True)

In [3]:
summary = (
pd.DataFrame(df[["state", "status"]].state.value_counts())
.reset_index()
.rename(columns={"index": "state", "state": "count"})
)

In [4]:
details = pd.DataFrame(
{"count": df[["state", "status"]].groupby(["state", "status"]).size()}
).reset_index()

In [30]:
appointments = df[["state", "call_date"]].loc[df["status"] == "APP"]
appointments.sort_values(by=["call_date"], inplace=True)
appointments[["date","time"]] = df["call_date"].str.split(" ",expand=True,)
appointments = appointments[["date","time","state"]]
appointments

            date      time state
1918  2020-08-17  09:30:16    MI
1939  2020-08-17  09:44:32    GA
1618  2020-08-17  09:46:48    MI
1603  2020-08-17  09:47:25    IN
799   2020-08-17  10:19:35    OH
734   2020-08-17  10:21:51    MI
7521  2020-08-17  11:38:13    MA
7235  2020-08-17  11:52:19    MI
7134  2020-08-17  11:57:47    MI
6852  2020-08-17  12:13:40    MO
6666  2020-08-17  12:23:30    MT
6407  2020-08-17  14:01:06    NJ
6296  2020-08-17  14:35:40    NV
6154  2020-08-17  14:43:57    NY
5638  2020-08-17  15:13:11    PA
4913  2020-08-17  16:20:10    TX
1968  2020-08-17  16:34:59    OH
5628  2020-08-17  16:45:40    PA
1971  2020-08-17  17:01:49    OH
8540  2020-08-17  17:05:20    IL
4511  2020-08-17  17:21:12    TX
2970  2020-08-17  17:40:59    CT
2824  2020-08-17  17:49:26    FL
2765  2020-08-17  17:53:58    FL